[core]
  whitespace = tab-in-indent diff --check,tab-in-indent
[grep]
  extendRegexp = true
[pretty]
  shortnsweet = %C(green)%h%C(blue)%d%C(reset) %s  %C(yellow)%an%C(reset), %cr
  whowhenwhere = %C(red) %cn %>|(40) %C(blue) %ar %>|(80) %C(reset)
[color]
  ui = auto
[push]
  default = simple
[include]
  path = .gitconfig-user
  path = .gitconfig-alias
